body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

.header {
    padding: 10px;
    text-align: left;
    background: white;
    color: black;
    font-size: 30px;
  }

.container {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.wrapper {
    width: 30%;
    margin-bottom: 50px;
}

.wrapper2 {
    width: 30%;
    margin-bottom: 50px;
}

.captions {
    display: flex;
    justify-content: space-between;
}

.left-caption,
.right-caption {
    flex: 1;
}

.left-caption {
    text-align: left;
}

.right-caption {
    text-align: right;
}

.wrapper img {
    transition: transform 0.3s ease;
}

.wrapper:hover img {
    transform: scale(1.05);
}

/* mobile */
@media screen and (max-width: 923px) {
    .container {
        flex-direction: column;
    }
    
    .wrapper {
        width: 80%;
        text-align: center;
    }

    .wrapper2 {
        width: 80%;
        text-align: center;
    }

    .left-caption,
    .right-caption {
        font-size: 1.4em;
    }

    body, p, ul, li {
        margin: 0;
        padding: 0;
        font-size: 1.4em;
    }
}
/* tablet
@media screen and (min-width: 831px) and (max-width: 1023px) {
    .container {
        flex-wrap: wrap;
    }
    
    .wrapper {
        flex: 0 0 calc(50% - 20px);
    }
}*/
/* desktop */
@media screen and (min-width: 924px) {
    .container {
        flex-wrap: wrap;
    }
    
    .wrapper {
        flex: 0 0 0 calc(50% - 20px);
    }
}