body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

.header {
    padding: 10px;
    text-align: left;
    background: white;
    color: black;
    font-size: 30px;
  }

.container {
    /* background:rgb(234, 229, 212);*/
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.wrapper {
    width: 30%;
}

.captions {
    display: flex;
    justify-content: space-between;
}

.left-caption,
.right-caption {
    flex: 1;
}

.left-caption {
    text-align: left;
}

.right-caption {
    text-align: right;
}